html, body {
  height: 100%;
}

body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: #e0e0e0;
}

.piece {
  cursor: pointer;
  width: 100px;
}